@import "../../responsive.scss";
.chatPage {
    flex: 2;
    background-color: #fcf5f3;
    // height: 100%;
    height: max-content;
    padding: 20px;
    overflow: hidden;
    
    

    @include md{
      flex:none;
      height: max-content;
    }

    .wrapper{
      padding: 0px 0px;
      height:100%;
      
    }
    h1{
        margin-bottom: 20px;
        padding-top: 20px;
    }
  }

